#back-img{
    background-image: url(../images/nice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h3,h1,h2{
    color: yellow;
}